REDIS_HOST="redis-host-aws-endpoint"
RABBIT_HOST=
RABBIT_PORT=5672
RABBIT_USERNAME="rabbit_user"
RABBIT_PASSWORD="rabbit_password"
MONGO_URL="mongodb://mongo-user:mongo-password@mongo-host:27017/?authSource=admin"
